/*
Incomplete stylesheet
More info in LineAutocomplete.html
*/

* { box-sizing: border-box;}

/* Style for the input itself*/
.autocomplete {
	position: relative;
	display: inline-block;
}

/* Style for the dropdown items */
.items {
	position: absolute;
	border: 1px solid #ffffff;
	z-index:1; /*Puts element ahead of textarea, raise even higher if need be*/
	top:32px; /*Puts element right below line of text*/
	left:0;
	right:0;
}

.items div {
	padding: 10px;
	cursor: pointer;
}

/* Styles for highlighting dropdown items */
.highlight div:hover {
	background-color: #d1d1d1;
}

.highlight {
	background-color: blue;
}

